.global-bar {
    width: 100%;
    height: 50px;
    color: #666666;
    line-height: 50px;
    position: relative;
    top:0;
    left: 0;
    background-image: url("../images/topself.jpg");
}

.lore {
    float: right;
}
.lore a {
    color: #666666;
}
.global-fluid {
    width: 100%;
}
.had-container {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
.global-nav {
    width: 100%;
    height: 170px;
    z-index: 9990;
}

.hadlink-logo {
    height: 160px;
    width:201px;
    line-height: 160px;
    float: left
}
.nav-bar {
    width: 798px;
    height: 40px;
    line-height: 40px;
    padding-top: 130px;
    float: left;
    position: relative;

}
.nav-bar  li {
    list-style: none;
    float: left;
    width: 105px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.nav-bar  a {
    display: block;
    /*width: 105px;*/
    /*height: 40px;*/
    text-decoration: none;
    font-size: 18px;
    color: #2C3E50;
}
.nav-bar li a:hover {
    /*color: #fff;*/
    text-decoration: none;
}
.nav-bar >li:hover {
    background: #ff9326;
    border-bottom: 5px solid #ff9326;
}

.nav-bar  li:hover .sub-nav {
    display: block;
}
.sub-nav {
    width: 105px;
    /*min-height: 200px;*/
    line-height: 35px;
    text-align: center;
    background: #ECF0F1;
    display: none;
    position: relative;
}
.sub-nav li {
    width: 105px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-left: -40px;
    margin-top: 5px;
}
.sub-nav li:hover {
    background: #ff9326;
}