/* top css file */
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
.global-bar {
    width: 100%;
    height: 50px;
    color: #666666;
    line-height: 50px;
    position: relative;
    top:0;
    left: 0;
    background-image: url("../images/topself.jpg");
}
.global-bar .lore {
    float: right;
    height: 50px;
    width: 500px;
}
.lore a {
    color: #666666;
}
.global-nav {
    width: 100%;
    height: 170px;
    background: #eaeaea;
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999;
}

.hadlink-logo {
    height: 160px;
    width:15%;
    line-height: 160px;
    float: left
}
.nav-bar {
    width: 80%;
    height: 40px;
    line-height: 40px;
    margin-top: 130px;
    float: left;

}
.nav-bar ul li {
    list-style: none;
    float: left;
    height: 40px;
    /*margin-left: 5px;*/
    text-align: center;
    line-height: 40px;
}
.nav-bar ul li:hover {
    background: #ff9326;
    border-bottom: 5px solid #ff9326;

}
.nav-bar ul li:hover .company-tab  {
    display: block;
}
.nav-btn {
    width: 120px;
    height: 35px;
}
.nav-bar a {
    display: block;
    width: 120px;
    height: 50px;
    text-decoration: none;
    font-size: 18px;
    color: #2C3E50;
}
.nav-bar a:hover {
    color: #fff;
    text-decoration: none;
}
.company-tab {
    display: none;
    width: 120px;
    height: 210px;
    background: #ECF0F1;
    margin-top: -10px;
    padding-top: 10px;

}
.company-tab li {
    width: 110px;
    height: 35px;
    line-height: 35px;
    margin-left: -35px;
    list-style: none;
}
.company-tab li:hover {
    background: #BDC3C7;
}
.culture-tab {
    display: none;
    width: 120px;
    height: 500px;
    background: #ECF0F1;
    /*margin-top: 3px;*/

}
.culture-tab li {
    /*display: none;*/
    width: 120px;
    height: 35px;
    line-height: 35px;
    margin-top: 5px;
    margin-left: -35px;
    list-style: none;
}

/* footer css file */
.global-footer {
    width: 100%;
    height: 500px;
    background: #666666;
    bottom: 0;
    left: 0;
}

.global-footer .footer-content {
    width: 100%;
    height: 400px;
}
.footer-content .h-set {
    padding-top:15px;
    color: #ffffff;
    font-size: 22px;
}
.footer-content .section-one {
    width: 250px;
    height: 300px;
    margin-left: 200px;
    font-size: 16px;
    text-align: left;
    float: left;
}
.footer-content .section-two {
    width:160px ;
    height: 300px;
    margin-left: 2%;
    font-size: 15px;
    font-family: sans-serif;
    text-align: left;
    float: left;
}
.section-two li {
    width: 120px;
    list-style: none;
    margin-top: 6px;
    margin-left: 25px;
}
.section-two a {
    text-decoration: none;
    color: #cacaca;
    font-size: 17px;
}
.section-two li a:hover {
    background: #ff9326;
    text-decoration: none;
}

.global-footer .footer-copyright {
    width: 100%;
    height: 50px;
}
/* Corporate Culture css file */
.core-content {
    width: 100%;
    float: left;
}
.core-content .core-pic {
    width: 120px;
    height: 120px;
    float: left;
}
.column-pic {
    width: 280px;
    height: 200px;
    background: #ffa54a;
    float: left;
    margin-left: 30px;

}
/* index css file */
.alert-window {
    width: 1000px;
    height:800px;
    position: fixed;
    top: 220px;
    background: #808080;
    z-index: 999;
    /*background-image: url('../images/formal.jpg');*/
}
.about-us {
    width: auto;
    height: 325px;
    float: left;
    z-index: 999;
    position: relative;
}
.about-us img {
    width:198px;
    height: 321px;
    z-index: 999;
    transition: all 0.2s ease-out 0.1s;
    -moz-transition: all 0.2s ease-out 0.1s; /* Firefox 4 */
    -webkit-transition: all 0.2s ease-out 0.1s; /* Safari 和 Chrome */
    -o-transition: all 0.2s ease-out 0.1; /* Opera */
    text-align: center;
    line-height: 321px;
}
.latest-news {
    width: auto;
    height: 340px;
    float: left;
    position: relative;
    position: relative;
   overflow: inherit;
}
.industry {
    width: auto;
    height: 500px;
    float: left;
    position: relative;
    position: relative;
   overflow: inherit;
}
.product-info {
    width: auto;
    height: 400px;
    float: left;
    position: relative;
    position: relative;
   overflow: inherit;
}
.invite-telents {
    width: auto;
    height: 400px;
    float: left;
    position: relative;
    overflow: inherit;
}
.m-top-1 {
    margin-top: 136px;
}
.m-top-2 {
    margin-top: 195px;
}
.m-top-3 {
    margin-top: 143px;
}
.m-top-4 {
    margin-top: 80px;
}
.m-top-5 {
    margin-top: 170px;
}

.company-nav {
    width: 120px;
    min-height: 200px;
    background: #ececec;
    position: fixed;

}
.news-nav {
    width: 120px;
    min-height: 130px;
    background: #ececec;
    position: fixed;
    padding-top: 5px;
    /*top:150px;*/
}
.news-nav li {
    width: 120px;
    height: 35px;
    margin-left: -40px;
    /*margin-right: auto;*/
    line-height: 35px;
    text-align: center;
    list-style: none;
    margin-top: 5px;
}
.news-nav li:hover{
    background: #ff9326;
}
.news-nav a {
    /*width: 120px;*/
    /*height: 35px;*/
    color: #2C3E50;
    text-decoration: none;
}
.news-nav a:hover {
    cursor: pointer;
    /*background: #ffa54a;*/
    text-decoration: none;
}

.company-nav li {
    width: 120px;
    height: 35px;
    margin-left: -40px;
    line-height: 35px;
    text-align: center;
    list-style: none;
    margin-top: 5px;
}
.company-nav li:hover{
    background: #ff9326;
}
.company-nav a {
    /*width: 120px;*/
    /*height: 35px;*/
    color: #2C3E50;
    text-decoration: none;
}
.company-nav a:hover {
    cursor: pointer;
    /*background: #ffa54a;*/
    text-decoration: none;
}
.div-center {
    margin-left: auto;
    /*margin-right: auto;*/
    /*padding: 0px;*/

}
.section-intro {
    width: 85%;
    height: 500px;
    background: #ffffff;
    border-bottom: 2px solid #eaeaea;
    overflow: hidden;
    z-index: -1;
}
.section-commen {
    width: 85%;
    /*min-height: 750px;*/
    border-bottom: 2px solid #eaeaea;
}
.section-ceo {
    width: 85%;
    height: 1050px;
    border-bottom: 2px solid #eaeaea;
}
.section-ceo .word-pic {
    width: 210px;
    height: 210px;
}
.section-ceo .pic-intro {
    width: 250px;
    height: 50px;
    text-align: center;
    /*line-height: 50px;*/
}
.section-commen .person-show {
    width: 300px;
    height: 450px;
    margin-left: 20px;
    float: left;
    margin-top: 20px;

}
.pic-center {
    margin-left: auto;
    margin-right: auto;
}
.person-show .show-title {
    width: 100%;
    height: 50px;
    text-align: left;
    line-height: 50px;

}
.person-show .show-pic {
    width: 300px;
    height: 300px;

}
.person-show .show-words {
    height: 100px;
    width: 300px;
    text-align: left;
    margin-top: 20px;
    color: #303030;
}

/* news css file */
.news-ul li {
    width: 100%;
    height: 50px;
    text-align: left;
    line-height: 50px;
    border-bottom: 1px solid #dcdcdc;
    /*font-size: 14px;*/
}
.news-ul li a {
  color: #004276;
}

.p-low {
    line-height: 1.5;
    margin-top: 15px;
}
.p-h3 {
    color: #ffa54a;
    margin-top: 40px;
}
.section-news {
    width: 80%;
    padding: 20px;
}
.section-news p {
    line-height: 1.5;
    margin-top: 15px;
    letter-spacing: 1px;
}
.text-over {
    overflow: hidden;
}
.slideup {
    position:fixed;
    right:40px;
    bottom:150px;
    width: 80px;
    height: 40px;
    background-image: url('../images/backtop.png')
}
.omit {
    color:#3498DB;
}
.omit:hover {
    background: #ffa54a;
    cursor: pointer;
}
.shrink {
    width: 100%;
    height: 60px;
    overflow: hidden
}
.spread {
    width: 100%;
    height: 100px;
   overflow: inherit;
}
/* index css file */
.view{
    transform:scale(1);
    -ms-transform:scale(1);     /* IE 9 */
    -moz-transform:scale(1);   /* Firefox */
    -webkit-transform:scale(1); /* Safari 和 Chrome */
    -o-transform:scale(1);  /* Opera */
    animation:         'viewNotActive' 0.2s ease-out;
    -webkit-animation: 'viewNotActive' 0.2s ease-out;
    -ms-animation:     'viewNotActive' 0.2s ease-out;
    -moz-animation:    'viewNotActive' 0.2s ease-out;
    position: relative;
    z-index: 1;
}
.view.active{
    transform:scale(1.4);
    -ms-transform:scale(1.4);     /* IE 9 */
    -moz-transform:scale(1.4);   /* Firefox */
    -webkit-transform:scale(1.4); /* Safari 和 Chrome */
    -o-transform:scale(1.1);  /* Opera */
    animation:         'viewActive' 0.2s ease-out;
    -webkit-animation: 'viewActive' 0.2s ease-out;
    -ms-animation:     'viewActive' 0.2s ease-out;
    -moz-animation:    'viewActive' 0.2s ease-out;
    z-index: 9999;

}
@-webkit-keyframes viewActive{
    from {
        transform:scale(1);
        -ms-transform:scale(1);     /* IE 9 */
        -moz-transform:scale(1);   /* Firefox */
        -webkit-transform:scale(1); /* Safari 和 Chrome */
        -o-transform:scale(1);  /* Opera */
    }
    to{
        transform:scale(1.4);
        -ms-transform:scale(1.1);     /* IE 9 */
        -moz-transform:scale(1.4);   /* Firefox */
        -webkit-transform:scale(1.4); /* Safari 和 Chrome */
        -o-transform:scale(1.4);  /* Opera */
    }
}
@-webkit-keyframes viewNotActive{
    from {
        transform:scale(1.1);
        -ms-transform:scale(1.1);     /* IE 9 */
        -moz-transform:scale(1.1);   /* Firefox */
        -webkit-transform:scale(1.1); /* Safari 和 Chrome */
        -o-transform:scale(1.1);  /* Opera */
    }
    to{
        transform:scale(1);
        -ms-transform:scale(1);     /* IE 9 */
        -moz-transform:scale(1);   /* Firefox */
        -webkit-transform:scale(1); /* Safari 和 Chrome */
        -o-transform:scale(1);  /* Opera */
    }
}
.bread-crumbs {
    width:100px;
    height:42px;
    vertical-align:bottom;
    font-size: 17px;
    color: #2C3E50;
    margin-left: 15px;
}
.bread-crumbs:hover {
    /*background: #ff9326;*/
    text-decoration: none;
}